@font-face {
   font-family: 'LEMONMILK-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Malebogo%20Letseka/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-04_182042/fonts/LEMONMILK-Regular/font.ttf');
}
